TARGET_DATABASE_URL= url of local database
SOURCE_DATABASE_URL= url of database with raw data

#for initial data migration
SOURCE_HOST= host of database with raw data
SOURCE_DBNAME= name of database with raw data
SOURCE_USER= user of database with raw data
SOURCE_PASSWORD= password for database with raw data

#local PostgreSQL
TARGET_HOST= host of local database
TARGET_DBNAME= name of local database
TARGET_USER= user of local database
TARGET_PASSWORD= password for local database
TARGET_SSLMODE= enable/disable

#docker PosgreSQL
DOCKER_SOURCE_HOST='host.docker.internal'
DOCKER_TARGET_HOST= host of database in docker container
DOCKER_TARGET_PORT= port of database in docker container
DOCKER_TARGET_DBNAME= name of database in docker container
DOCKER_TARGET_USER= user of database in docker container
DOCKER_TARGET_PASSWORD= password of database in docker container

CARS_HUB_BASE_URL= base url of cars hub api
CARS_HUB_API_CODE= cars hub api code